@charset "ISO-8859-1";
			body 
			{
				margin:0;
				padding:0;
			}
			.error{
				color:#ff0000;
				font-size : 13px;
			}
			.yui-skin-sam .yui-panel .bd{
				background-color:#ffffff !important;
				background: url(/assets/img/bg_pattern.png) #fff;
			}
			.form input{
				font-family: 'Cabin Sketch',cursive;
				outline: 0;
				background: #f2f2f2;
				width: 100%;
				border: 0;
				margin: 0 0 5px;
				padding: 15px !important;
				box-sizing: border-box;
				font-size: 14px;
			}
			.form_text_area{
				font-family: 'Cabin Sketch',cursive;
				outline: 0;
				background: #f2f2f2;
				width: 100%;
				border: 0;
				margin: 0 0 5px;
				font-size: 14px;
				height:auto;
			}
			.cancle_button{
				background : #ff5d56 !important;
			}
			.cancle_button:hover{
				background : #ff3044 !important;
			}
			.form .submit:hover, .form .submit:active, .form .submit:focus 
			{
				background: #43A047;
			}
			.form .submit
			{
				padding:10px !important;
				background : #4CAF50;
				font-size: 20px;
				font-family: 'Cabin Sketch',cursive;
				color : #ffffff ;
			}
			
			.message{
				font-size:15px !important;
			}
			.message a{
				color : #8DC26F !important;
				cursor:pointer;
			}
			
			.yui-skin-sam .yui-panel .hd{
				background : #f2f2f2 !important;
				padding-left : 15px !important;
			}


			/* Default/unfocused Panel style */
			.yui-skin-sam div[role=panel].yui-panel .hd {
				background: #F2F2F2;
			}

			/* Focused Panel style */	
			.yui-skin-sam .yui-panel-container.focused div[role=panel].yui-panel .hd {
				background: url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x 0 -200px;
			}
			
			/*
				The Container ARIA Plugin removes the "href" attribute from the <A> used to create the 
				close button for a Panel, resulting in the focus outline no longer be rendered in 
				Gecko-based browsers when the <A> element is focused.  For this reason, it is necessary to 
				restore the focus outline for the <A>.
			*/	
			a.container-close[role=button]:focus {
				outline: dotted 1px #000;
			}

			/*
				Necessary to explicitly set the text-align property so the content of the Panels 
				is aligned properly when viewed inside the YUI Examples chrome.
			*/
			#panel-2,
			#panel-3 {
				text-align: left;
			}
			.logo_head{
				width:40% ;
				float :left;
			}
			.login_session{
				width:40%;
				float:right;
				text-align:right;
				margin-top:30px;
			}
			.right_text{
				text-align:right;
			}
			
			/* upload images */
			/* .upload_image input[type=file] {
			    cursor: inherit;
			    display: block;
			    font-size: 999px;
			    filter: alpha(opacity=0);
			    min-height: 100%;
			    min-width: 100%;
			    opacity: 0;
			    position: absolute;
			    right: 0;
			    text-align: right;
			    top: 0;
			}*/
			.upload_profileimage_form .file{
				font-family: 'Cabin Sketch',cursive;
				outline: 0;
				width: 100%;
				border: 0;
				margin: 0 0 5px;
				box-sizing: border-box;
				font-size: 15px;
			}
			.upload_profileimage_form .submit{
				padding:10px !important;
				background : #4CAF50;
				font-size: 20px;
				font-family: 'Cabin Sketch',cursive;
				color : #ffffff ;
				border:0;
				width:100%;
			}
			.upload_profileimage_form .submit:hover, .upload_profileimage_form .submit:active, .upload_profileimage_form .submit:focus 
			{
				background: #43A047;
			}